<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <meta charset="utf-8">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>

    <div class = "navbar">
        <div> <img class = "navbar_logo" src="../images/img_logo.png"> </div>
        <div class = "logout">
            <button class="logoutBtn"> 로그아웃 </button>
        </div>
    </div>

    <div class = "totalBorder">
        <div class="textAlign">
        <div class = "helloStoreText">
            <div class="storeText"> <%= store_name %> </div>
            <div class="helloText"> 사장님, 안녕하세요! </div>
        </div>
        </div>
        <div class="orderListText"> 주문 현황 </div>
        <table>
            <colgroup>
                <col width= 80px />
                <col width= 80px />
                <col width= 240px />
                <col width= 260px />
                <col width= 230px />
                <col width= 155px />
                <col width= 90px />
                <col width= 90px />
                <col width= 100px/>
            </colgroup>
            <tr style="color: #7d7d7d;">
                <td style="text-align: center"> 번호 </td>
                <td> 고객명 </td>
                <td> 파일명 </td>
                <td> 옵션 </td>
                <td> 주문 요청사항 </td>
                <td> 일시 </td>
                <td> 가격 </td>
                <td> 상태 </td>
                <td>  </td>
            </tr>
            <tr>
                <td style="text-align: center"> 4 </td>
                <td> 심다은 </td>

                <td> <a href="#" download="booster.png"> 넣어두세요.png
                        <a href="https://danibucket0731.s3.ap-northeast-2.amazonaws.com/Booster/KakaoTalk_Photo_2020-07-13-04-47-09.png"/>
                    </a></td>
                <td> 흑백/자동/단면/4개/4페이지/1부 </td>
                <td> 스테이플러 찍어 주세요! </td>
                <td> 2020.07.08 16:20 </td>
                <td> 1000원 </td>
                <td> 승인 필요 </td>
                <td> <button class = "stateBtn"> 승인 </button> </td>
            </tr>

            <% data.forEach(function (element, index) { %>
                <tr>
                    <td style="text-align: center"> <%= element.order_idx %> </td>
                    <td> <%= element.user_name %> </td>
                    <td> <a href="#" download="<%= element.file_name +'.'+ element.file_extension %>"> <%= element.file_name +'.'+ element.file_extension %>
                            <a href="<%= element.file_path %>"/>
                        </a></td>
                    <td> <%= element.file_color + '/'+
                        element.file_direction + '/'+
                        element.file_sided_type + '/'+
                        element.file_collect + '개/'%>
                        <%if(element.file_range_end === 0){%>전체/<% }
                         else {%>
                        <%= element.file_range_start +'-'+ element.file_range_end %>P/<% }%>
                        <%= element.file_copy_number +'부'
                        %> </td>
                    <td> <%= element.order_comment%> </td>
                    <td> <%= element.engine_time %> </td>
                    <td> <%= element.file_price +'원' %> </td>
                    <td> <%
                            if(element.order_state ===1) {%> 승인 필요 <%}
                            else if(element.order_state ===2) {%> 인쇄중 <%}
                            else if(element.order_state ===3) {%> 인쇄 완료 <%}
                            else if(element.order_state ===4) {%> 접수 완료 <%}
                            else { %> 접수중 <%}
                        %> </td>
                    <td> <button class = "stateBtn"
                            <%
                            if(element.order_state ===1) {%> style="background-color: #467fff;">승인 <%}
                            else if(element.order_state ===2) {%> style="background-color: #2435ff;">인쇄 완료 <%}
                            else if(element.order_state ===3) {%> style="background-color: #7d7d7d;">픽업 완료 <%}
                            else  {%> style="background-color: #ffffff;"> <%}
                            %>
                        </button> </td>
                </tr>
            <% }) %>


        </table>
    </div>
</body>
</html>