<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <meta charset="utf-8">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta http-equiv="refresh" content="2"; url=http://52.79.218.88:3000/admin/1" />
</head>

<body>

    <div class = "navbar">
        <div> <img class = "navbar_logo" src="../images/img_logo.png"> </div>
        <div class = "logout">
            <button class="logoutBtn"> 로그아웃 </button>
        </div>
    </div>

    <div class = "totalBorder">
        <div class="textAlign">
        <div class = "helloStoreText">
            <div class="storeText"> <%= store_name %> </div>
            <div class="helloText"> 사장님, 안녕하세요! </div>
        </div>
        </div>
        <div class="orderListText"> 주문 현황 </div>
        <table>
            <colgroup>
                <col width= 80px />
                <col width= 100px />
                <col width= 250px />
                <col width= 280px />
                <col width= 220px />
                <col width= 160px />
                <col width= 80px />
                <col width= 90px />
                <col width= 100px/>
            </colgroup>
            <tr style="color: #7d7d7d;">
                <td style="text-align: center; border-top: solid 0px;"> 번호 </td>
                <td style="border-top: solid 0px;"> 고객명 </td>
                <td style="border-top: solid 0px;"> 파일명 </td>
                <td style="border-top: solid 0px;"> 옵션 </td>
                <td style="border-top: solid 0px;"> 주문 요청사항 </td>
                <td style="border-top: solid 0px;"> 일시 </td>
                <td style="border-top: solid 0px;"> 가격 </td>
                <td style="border-top: solid 0px;"> 상태 </td>
                <td style="border-top: solid 0px;">  </td>
            </tr>

            <%
            let flag = 0;
            data.forEach(function (element) { %>
                <tr>
<!--                    주문 번호, 고객명, 파일명, 옵션, 주문 요청사항, 일시, 가격, 상태, 버튼-->
                        <% if(flag !== element.order_idx) {
                            flag = element.order_idx;%>
                            <td style="text-align: center;"> <%= element.order_idx%> </td>
                            <td> <%= element.user_name %> </td>
                            <td> <a href="<%= element.file_path %>" download="<%= element.file_name +'.'+ element.file_extension %>"> <%= element.file_name +'.'+ element.file_extension %>

                                </a></td>
                            <td> <% if(element.file_range_end === 0){%>
                                    <%= element.file_color + '/'+
                                    element.file_direction + '/'+
                                    element.file_sided_type + '/'+
                                    element.file_collect + '개/전체/' +
                                    element.file_copy_number +'부' %>
                                <% }
                                else {%>
                                    <%= element.file_color + '/'+
                                    element.file_direction + '/'+
                                    element.file_sided_type + '/'+
                                    element.file_collect + '개/전체/' +
                                    element.file_range_start +'-'+ element.file_range_end +'p/'+
                                    element.file_copy_number +'부'
                                    %> <% }%> </td>
                            <td> <%= element.order_comment%> </td>
                            <td> <%= element.engine_time %> </td>
                            <td> <%= element.engine_point + '원'%> </td>
                            <td> <%
                                if(element.order_state ===1) {%> 승인 필요 <%}
                                else if(element.order_state ===2) {%> 인쇄중 <%}
                                else if(element.order_state ===3) {%> 인쇄 완료 <%}
                                else if(element.order_state ===4) {%> 접수 완료 <%}
                                else { %> 접수중 <%}
                                %> </td>
                            <td> <button class = "stateBtn"
                                <% var order_idx = element.order_idx;
                                if(element.order_state ===1) {%> style="background-color: #467fff;" onClick = "setRead(<%= order_idx%>,2);" > 승인 <%}
                                    else if(element.order_state ===2) {%> style="background-color: #2435ff;" onClick = "setRead(<%= order_idx%>,3);" >인쇄 완료 <%}
                                    else if(element.order_state ===3) {%> style="background-color: #7d7d7d;" onClick = "setRead(<%= order_idx%>,4);" >픽업 완료 <%}
                                    else  {%> style="background-color: #ffffff;"> <%} %>
                                </button> </td>

                        <%} else {
                            flag = element.order_idx;%>
                            <td style="border-top: solid 0px;"></td>
                            <td style="border-top: solid 0px;">  </td>
                            <td style="border-top: solid 0px;" > <a href="#" download="<%= element.file_name +'.'+ element.file_extension %>"> <%= element.file_name +'.'+ element.file_extension %>
                                    <a href="<%= element.file_path %>"/>
                                </a></td>
                            <td style="border-top: solid 0px;"> <% if(element.file_range_end === 0){%>
                                    <%= element.file_color + '/'+
                                    element.file_direction + '/'+
                                    element.file_sided_type + '/'+
                                    element.file_collect + '개/전체/' +
                                    element.file_copy_number +'부' %>
                                <% }
                                else {%>
                                    <%= element.file_color + '/'+
                                    element.file_direction + '/'+
                                    element.file_sided_type + '/'+
                                    element.file_collect + '개/전체/' +
                                    element.file_range_start +'-'+ element.file_range_end +'p/'+
                                    element.file_copy_number +'부'
                                    %> <% }%> </td>
                            <td style="border-top: solid 0px;"></td>
                            <td style="border-top: solid 0px;">  </td>
                            <td style="border-top: solid 0px;">  </td>
                            <td style="border-top: solid 0px;">  </td>
                            <td style="border-top: solid 0px;">  </td>
                        <%}%>


                    <script type="text/javascript">
                        function setRead($idx,$state){
                            $.ajax({
                                type: "PUT",
                                url: "http://52.79.218.88:3000/admin/1",
                                data: { order_idx: $idx, order_state: $state},
                                dataType: "json"
                            })
                            window.location.reload();
                        }
                    </script>
                </tr>
            <% }) %>
        </table>
    </div>
</body>
</html>